<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.storemanage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.android.storemanage.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" >
        </activity>
        <activity android:name=".activity.MyPrizeActivity" >
        </activity>
        <activity android:name=".activity.MessageDetailActivity" >
        </activity>
        <activity android:name=".activity.CategoryListActivity" >
        </activity>
        <activity android:name=".activity.AboutUsActivity" >
        </activity>
        <activity android:name=".activity.CommentActivity" >
        </activity>
        <activity android:name=".activity.UserPrizeDetailActivity" >
        </activity>
        <activity android:name="com.zxing.activity.CaptureActivity" >
        </activity>
        <activity android:name=".activity.WealthDetailActivity" >
        </activity>
        <activity android:name=".activity.MainTabActivity" >
        </activity>
        <activity android:name=".activity.WealthPrizeDetailActivity" >
        </activity>
        <activity
            android:name="com.android.storemanage.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activity.WealthPrizeActivity" >
        </activity>
    </application>

</manifest>