-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclassmembers
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*
-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService
-keep class com.android.storemanage.entity.**{*;}
-renamesourcefileattribute SourceFile
-keepattributes SourceFile
-keepattributes LineNumberTable 
-keepattributes Signature #泛型
-keep class **.R{*;}
-keep class **.R$* {  
 *;  
}

-libraryjars libs/fastjson-1.1.32.jar
-libraryjars libs/nineoldandroids-2.4.0.jar
-libraryjars libs/picasso-2.3.2.jar

-dontwarn com.alibaba.fastjson.**
-dontwarn com.squareup.picasso.**
-dontwarn com.nineoldandroids.**

-keep class com.alibaba.fastjson.**{*;}
-keep class com.squareup.picasso.**{*;}
-keep class com.nineoldandroids.**{*;}

-libraryjars libs/android-support-v4.jar
-libraryjars libs/core-2.3-20131013.231655-8.jar
-dontwarn android.support.v4.** 

-keep interface android.support.v4.app.** { *; }
-keep class android.support.v4.** { *; }
-keep class * extends android.support.v4.**
-keep class * extends android.app.Fragment  
-keep class android.support.v4.view.**{ *;}  

-keep  class com.google.zxing.**{*;}
-dontwarn com.google.zxing.**

#-keep class com.tencent.mm.sdk.modelmsg.WXMediaMessage { *;}
#-keep class com.tencent.mm.sdk.modelmsg.** implements com.tencent.mm.sdk.modelmsg.WXMediaMessage$IMediaObject {*;}

-keep class com.tencent.mm.sdk.openapi.WXMediaMessage {*;}

-keep class com.tencent.mm.sdk.openapi.** implements com.tencent.mm.sdk.openapi.WXMediaMessage$IMediaObject {*;}

-keepclassmembers class * extends android.app.Activity {
 public void *(android.view.View);
}

-keepclasseswithmembernames class * {
native <methods>;
}

-keepclasseswithmembernames class * {
public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembernames class * {
public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers enum * {
public static **[] values();
public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
public static final android.os.Parcelable$Creator *;
}

#-keepnames class * implements java.io.Serializable
 
-keep public class * implements java.io.Serializable {
        public *;
}
 
-keepclassmembers class * implements java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

